fastapi
uvicorn
python-multipart
llama-index-core
llama-index-llms-llama-cpp
llama-index-embeddings-huggingface
llama-index-vector-stores-chroma
llama-index-readers-file
qdrant-client
llama-index-vector-stores-qdrant
chromadb
pydantic-settings
python-dotenv
pypdf
docx2txt
hf_xet
python-docx